<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyf.model.dao.cityMapper">
  <resultMap id="BaseResultMap" type="com.yyf.model.model.city">
    <id column="ID" jdbcType="INTEGER" property="ID" />
    <result column="Name" jdbcType="CHAR" property="name" />
    <result column="CountryCode" jdbcType="CHAR" property="countryCode" />
    <result column="District" jdbcType="CHAR" property="district" />
    <result column="Population" jdbcType="INTEGER" property="population" />
  </resultMap>
  <resultMap id="BaseResultMap" type="com.yyf.model.model.city">
    <result column="city_id" jdbcType="SMALLINT" property="city_id" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country_id" jdbcType="SMALLINT" property="country_id" />
    <result column="last_update" jdbcType="TIMESTAMP" property="last_update" />
  </resultMap>
</mapper>